# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore log files
logs/
*.log

# Ignore macOS specific files
.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*
yarn-error.log*
